@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));
@theme {
	--animate-infinite-scroll: infiniteScroll 30s linear infinite;
  
	@keyframes infiniteScroll {
	  0% {
		transform: translateX(0);
	  }
	  100% {
		transform: translateX(-100%);
	  }
	}
  }

html {
	text-align: center;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'DM Sans', serif;
	font-optical-sizing: auto;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

.section {
	display: flex;
	padding: 1.5rem;
	max-width: 1280px;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	scroll-margin-top: 40px;
}
